@font-face {
    font-family: Norse-Bold;
    font-weight: 700;
    src: url(assets/Norse-Bold.woff2) format('woff2'),
         url(assets/Norse-Bold.woff) format('woff');
}


@font-face {
    font-family: Merienda;
    font-weight: 600;
    src: url(assets/Merienda-SemiBold.woff2) format('woff2'),
         url(assets/Merienda-SemiBold.woff) format('woff');
}


body {
    margin: 0;    
}


label {
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

li>* {
    display: block;
}

button {
    background-color: #413F3C;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0 10px #413F3C;
    padding: 1rem 3rem;
}

.container {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

.logo-section, .form-section {
    height: 100vh;
}

.logo-section {
    background-image: url(assets/massimiliano-morosinotto.jpg);
    background-size: cover;
    background-position: center;
    background-color: #EDF0F7;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
    transform: translate(0, -15vh);
    font-family: 'Merienda';
    color: #fff;
    text-align: center;
    background-color: #00000096;
}

.logo img {
    height: 3em;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}


.line:after {
    content: '\A';
    white-space: pre;
}

form>div {
    padding-left: 3rem;
}



.template>img {
    width: 100%;
    margin: 0;
    padding: 0;
}   

